$border-color: #1b3865;

body {
  background-color: #d99886;
  padding-top: 20px;
}

.form {
  flex-grow: 0;
  padding: 0;
  input {
    width: 4vw;
    height: 4vw;
    border-color: $border-color;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    caret-color: transparent;
    font-size: 25px;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      background-color: #61807d;
    }
  }
  input:focus {
    outline: none;
  }
  .activeCell {
    background-color: #d3dbf6;
  }
  .inActiveCell {
    background: #eecac0;
  }
}

.container {
  width: max-content;
}
.container .row:nth-child(3n) {
  border-bottom: solid 2px $border-color;
}
.container .row .form:nth-child(3n) {
  border-right: solid 2px $border-color;
}
.container .row .form:first-child {
  border-left: solid 2px $border-color;
}
.container .row:first-child {
  border-top: solid 2px $border-color;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  h1 {
    align-self: center;
  }
}

.help_button {
  &:hover {
    transform: scale(1.2);
  }
}

.sudoku_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
  }
  .score {
    display: flex;
    width: 36vw;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .group_buttons {
    display: flex;
    width: 36vw;
    justify-content: space-evenly;
    margin-top: 10px;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 12px;
}

.git_list {
  display: flex;
  margin: 0;
  list-style: none;
}

.git_list > li {
  margin: 0 11%;
}

.git_list > li > a {
  text-decoration: none;
  color: white;
}
.rs_logo {
  width: 50px;
  height: 20px;
  background-image: url('https://app.rs.school/static/images/logo-rs-school.svg');
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  align-items: center;
}

.git_list {
  display: flex;
  margin: 0;
  list-style: none;
}

.git_list > li {
  margin: 0 11%;
}

.git_list > li > a {
  text-decoration: none;
  color: white;
}
.rs_logo {
  width: 50px;
  height: 20px;
  background-image: url('https://app.rs.school/static/images/logo-rs-school.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.table-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.table {
  width: 97%;
}

@media only screen and (max-width: 700px) {
  .form {
    flex-grow: 0;
    padding: 0;
    input {
      width: 30px;
      height: 30px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .form {
    flex-grow: 0;
    padding: 0;
    input {
      width: 45px;
      height: 45px;
    }
  }
  .sudoku_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
    }
    .score {
      display: flex;
      width: 400px;
      justify-content: space-around;
      margin-bottom: 10px;
    }
    .group_buttons {
      display: flex;
      width: 400px;
      justify-content: space-evenly;
      margin-top: 10px;
      button {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .form {
    flex-grow: 0;
    padding: 0;
    input {
      width: 40px;
      height: 40px;
    }
  }
}
